<section>
    <article>
        <h2>Soluppg책ng och solnedg책ng</h2>
        <section>
            <h3>Soluppg책ng</h3>
            <p>Kl.07:43</p>
        </section>
        <section>
            <h3>Solnedg책ng</h3>
            <p>Kl.20:03</p>
        </section>
    </article>
</section>