<section>
    <h2>V채der n채rmaste fyra timmar</h2>
    <ul>
        <li>
            <h3>Kl.11</h3>
            <p>Soligt</p>
            <p>20.0C</p>
        </li>
        <li>
            <h3>Kl.12</h3>
            <p>Molnigt</p>
            <p>19.0C</p>
        </li>
        <li>
            <h3>Kl.12</h3>
            <p>L채tt regn</p>
            <p>16.0C</p>
        </li>
        <li>
            <h3>Kl.13</h3>
            <p>M책ttligt regn</p>
            <p>15.0C</p>
        </li>
    </ul>
</section>