@using Microsoft.VisualBasic
@using WeatherStation
@inject IHttpClientFactory _clientFactory

<section class="forecast">
    <article>
        <h2>Prognos</h2>
        <p class="icon">@forecastSkovde?.TimeSeries[0].SymbolCodeData()</p>
    </article>
    <article class="dd">
        <section class="marginless">
            <h3 class="hidden">Soluppgång</h3>
            <p class="numbers">07:43</p>
        </section>
        <section class="marginless">
            <h3 class="hidden">Solnedgång</h3>
            <p class="numbers">20:03</p>
        </section>
    </article>
</section>

@code {
    public WeatherClass? forecastSkovde;
    string? errorMessage;
    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
        "https://opendata-download-metfcst.smhi.se/api/category/snow1g/version/1/geotype/point/lon/13.8406/lat/58.3953/data.json");

        var client = _clientFactory.CreateClient();

        HttpResponseMessage response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            forecastSkovde = await response.Content.ReadFromJsonAsync<WeatherClass>();
            errorMessage = null;
        }
        else
        {
            errorMessage = $"Error fetching data: {response.ReasonPhrase}";
        }
    }
    }