<section class="forecast">
    <article>
        <h2>Prognos</h2>
        <p class="icon">Soligt</p>
    </article>
    <article class="dd">
        <section class="marginless">
            <h3 class="hidden">Soluppgång</h3>
            <p class="numbers">07:43</p>
        </section>
        <section class="marginless">
            <h3 class="hidden">Solnedgång</h3>
            <p class="numbers">20:03</p>
        </section>
    </article>
</section>