@page "/"

<PageTitle>Väderstation</PageTitle>

<h1>Väderstation</h1>

<article>
    <Location />
    <section class="temp-prec">
        <Temperature />
        <Precipitation />
    </section>
    <Forecast />
    <DawnDusk />
    <Wind />
    <Pressure />
    <Humidity />
    <FourHoursForecast />
</article>