@page "/"

<PageTitle>Väderstation</PageTitle>

<h1 class="hidden">Väderstation</h1>

<article>
    <Location />
    <section class="temp-prec">
        <Temperature />
        <Precipitation />
    </section>
    <Forecast />
    <section class="wind-pres-humi">
        <Wind />
    </section>
    <FourHoursForecast />
</article>