@page "/"

<PageTitle>Väderstation</PageTitle>

<h1>Väderstation</h1>

<article>
    <Location />
    <Temperature />
    <Precipitation />
    <Forecast />
    <DawnDusk />
    <Wind />
    <Pressure />
    <Humidity />
    <FourHoursForecast />
</article>