<section class="wind marginless">
    <h2>Vind</h2>
    <p>Syd-väst</p>
    <p>5(10)m/s</p>
</section>
<section class="pressure marginless">
    <h2>Lufttryck</h2>
    <p>1019</p>
</section>
<section class="humidity marginless">
    <h2>Luftfuktighet</h2>
    <p>40%</p>
</section>