@font-face {
    font-family: 'Aldrich';
    src: url('./lib/bootstrap/fonts/Aldrich-Regular.ttf');
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('./lib/bootstrap/fonts/ShareTechMono-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./lib/bootstrap/fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

html, body {
    background-color: #0F4B61;
}

.content {
    padding-top: 1.1rem;
}

main {
    display: flex;
    max-width: 35em;
    margin: auto;
    color: #131D5C;
}

section {
    display: grid;
    padding: 2px 1px;
    background-color: #FFFBF4;
    border: #DBE3FF 4px solid;
    margin: 0.5rem;
    font-family: 'Aldrich';
}

.icon {
    padding: 1rem;
    margin: 0.5rem;
    font-family: 'Aldrich';
}

.marginless {
    margin: 0;
}

.location {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
}

.temp-prec {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding: 0;
}

.wind-pres-humi {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    padding: 0;
}

.forecast {
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 0;
}

.dd {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

h2, h3 {
    display: grid;
    justify-content: center;
    font-size: larger;
    padding: 1rem;
}

.Skövde {
    margin: 0;
    padding: 1rem;
    justify-self: center;
    font-size: x-large;
}

.numbers {
    margin: 0;
    padding: 1rem;
    justify-self: center;
    font-family: 'ShareTechMono';
    font-size: large;
}

.temp-size {
    font-size: x-large;
}

.temperature {
    border-right: #DBE3FF 3px solid;
}

.hidden {
    height: 0;
    width: 0;
    overflow: hidden;
    transform: scale(0);
    margin: 0;
    padding: 0;
}

ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: #DBE3FF 2px solid;
}