@font-face {
    font-family: 'Aldrich';
    src: url('./lib/bootstrap/fonts/Aldrich-Regular.ttf');
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('./lib/bootstrap/fonts/ShareTechMono-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./lib/bootstrap/fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

html, body {
    background-color: #0F4B61;
}

.content {
    padding-top: 1.1rem;
}

main {
    display: flex;
    max-width: 35em;
    margin: auto;
}

section {
    padding: 2px 1px;
    background-color: #FFFBF4;
    border: #DBE3FF 4px solid;
    margin: 0.5rem;
    font-family: 'Aldrich';
}

.location {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
}

.temp-prec {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

h2 {
    font-size: medium;
    font-weight: bold;
}

.Skövde {
    margin: 0;
    padding: 1rem;
    justify-self: center;
    font-size: larger;
}

.time, .date, .numbers, .temp-size, .temperature, .precipitation {
    margin: 0;
    padding: 1rem;
    justify-self: center;
    font-family: 'ShareTechMono';
    font-size: large;
}

.temp-size {
    font-size: x-large;
}